// Variables
$green: hsl(75, 94%, 57%);
$white: hsl(0, 0%, 100%);
$grey-700: hsl(0, 0%, 20%);
$grey-800: hsl(0, 0%, 12%);
$grey-900: hsl(0, 0%, 8%);

html,
body {
    height: 100%;
}

body {
    background-color: $grey-900;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.profile-card {
    background-color: $grey-800;
    border-radius: 1rem;
    text-align: center;
    padding: 2rem 2.5rem;
    margin: 1rem;
    width: 330px;

    img {
        max-width: 100px;
        border-radius: 50%;
    }

    p {
        margin: 2rem 0;
    }

    .heading-block {
        margin: 1.75rem 0;

        h1 {
            font-size: 1.75rem;
            font-weight: 500;
            margin: 0.5rem 0;
        }

        h2 {
            color: $green;
            font-size: 1rem;
            margin: 0;
        }

    }

    .link-block {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        a {
            background-color: $grey-700;
            border-radius: 8px;
            color: $white;
            display: block;
            font-weight: 600;
            margin-bottom: 1rem;
            padding: 1rem;
            text-decoration: none;

            &:hover {
                background-color: $green;
                color: $grey-900;
                transition: 0.3s;
            }
        }
    }

}

.attribution {
    width: 100%;
    position: absolute;
    bottom: 1%;
    font-size: 11px;
    text-align: center;
    margin: 1rem;

    a {
        color: hsl(228, 45%, 44%);
    }
}